---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Card from "../components/CardOmOs.astro";
import Accordion from "../components/Accordion.astro";
import MyCustomImage from "../components/MyCustomImage.astro";
import { Image } from 'astro:assets';
import kat1 from "../assets/images/omos_foto.png";
import billede1 from "../assets/images/logo.svg";
import billede2 from "../assets/images/omos_verdi.svg";
import billede3 from "../assets/images/omos_verdi2.svg";
import yarn from "../assets/images/yarn2.svg";
import yarn2 from "../assets/images/yarn3.svg";
import desktopImage from "../assets/images/yarn2.svg";
import mobileImage from "../assets/images/yarn3.svg";
---
<MainLayout title="Purrfect Box">
       <Image class="" src={kat1} alt="Billede der viser en kat" loading="lazy"/>

       <section class="mx-m-sm lg:mx-d-3xl mb-d-m entrance">
            <h2 class="font-bold lg:my-d-m">Om os</h2>
            <div class="grid lg:grid-cols-[1fr_1fr] gap-m-ml lg:gap-d-5xl">
                <div class="">
                    <h3 class="font-bold pb-d-xs">Teamet</h3>
                    <p class="pb-d-xxs">Purrfect Box er et glad og ydmygt katteabonnementsboksfirma, der finder bopæl i Danmark. Purrfect Box drives af rigtige mennesker, som virkelig elsker katte, og som bekymrer sig om deres kunder. </p>
                    <p>Vi brænder for at gøre hverdagen nemmere for katteejere og sikre, at din kat altid har adgang til de bedste produkter. Med en kombination af kvalitet, omtanke og kærlighed arbejder vi hver dag for at skabe en løsning, der både glæder katte og deres ejere.</p>
                </div>

                <div class="" id="stagger">
                    <h3 class="font-bold pb-d-xs">Purrfect Box</h3>
                    <p class="pb-d-xxs">Vores mission er at dele vores passion med dig for at opdage sjove nye katteprodukter og tilføje berigelse til din killings legetid. Vi tror på, at katte fortjener det bedste – både når det kommer til kvalitet og sjov – og vi arbejder hårdt for at bringe nye, spændende produkter til dig og din kat.</p>
                    <p>Vi er lidt ligesom en Purrfect Box i sig selv: sød, unik og godt sat sammen. Med en kombination af kreativitet og omtanke stræber vi efter at gøre hver levering til en glædelig oplevelse for både dig og din kat.</p>
                </div>
            </div>
       </section>

       <section class="">
        <h3 class="font-bold mx-m-sm lg:mx-d-3xl mb-m-sm lg:mb-d-m">Vores værdier</h3>
        <div class="grid lg:grid-cols-3">
            <div class="bg-yellow-50 staggeranimation">
                <div class="flex flex-col items-center py-d-lg px-d-m">
                <Image class="scale-125 pt-d-s" src={billede1} alt="Billede der viser en mørk kat der kigger ud i en brun papkasse" loading="lazy"/>
                <h3 class="font-bold py-d-s">Vi tænker ud af boksen</h3>
                <p>
                    Vi værdsætter kreativitet, nytænkning, og skaber innovative løsninger ved altid at tænke uden for boksen.
                </p>
                </div>
            </div>
            <div class="bg-yellow-100 staggeranimation">
                <div class="flex flex-col items-center py-d-lg px-d-m">
                <Image class="" src={billede2} alt="Billede af et kattelegetøj og en sæk af kattemad" loading="lazy"/>
                <h3 class="font-bold py-d-s text-center">Vi leger med mulighederne</h3>
                <p>
                Vi omfavner mulighederne med nysgerrighed og leg, hvor vi eksperimenterer for at finde de bedste løsninger.
                </p>
                </div>
            </div>
            <div class="bg-yellow-200 staggeranimation">
                <div class="flex flex-col items-center py-d-lg px-d-m">
                <Image class="" src={billede3} alt="Billede af en blå lastbil" loading="lazy"/>
                <h3 class="font-bold py-d-s">Vi holder af de små fyre</h3>
                <p>
                    Vi elsker alle slags katte – store, små, unge og gamle. Hver eneste kat har sin egen charme, der minder os om glæden ved det særlige i hverdagen.
                </p>
                </div>
            </div>
        </div>
       </section>

       <div class="gradient relative -z-20 pb-d-5xl">
            <section class="mx-m-sm lg:mx-d-3xl pt-d-m mb-d-m overflow-hidden">
                <h2 class="font-bold mb-d-m">Mød teamet</h2>

                <div class="grid lg:grid-cols-[1fr_1fr] gap-d-3xl  overflow-hidden mb-d-3xl lg:mx-d-3xl fotoinview">
                <Card
                        cardimage="../images/omos_01.png"
                        cardimagealt="Miv"
                        navn="Miv Berg"
                        titel="Co-Founder & Chief Executive Officer"
                        tekst="Bortset fra at fungere som Purrfect Box's kontorchef, er Miv en kattemor til kontorulykken Bobo.">
                    </Card>
                <Card
                        cardimage="../images/omos_02.png"
                        cardimagealt="Laura"
                        navn="Laura Nielsen"
                        titel="Co-Founder & Chief Technology Officer"
                        tekst="Laura elsker krimidokumentarer, mad, bøger og at rejse. Hun er desværre uden kat, så hun må nøjes med hendes bamser..">
                    </Card>
                </div>

                    <div class="grid lg:grid-cols-[1fr_1fr] gap-d-3xl overflow-hidden mb-d-3xl lg:mx-d-3xl fotoinview2">
                    <Card
                        cardimage="../images/omos_03.png"
                        cardimagealt="Sofie"
                        navn="Sofie Andersson"
                        titel="Co-Founder & Chief Content Manager"
                        tekst="Bortset fra at fungere som Purrfect Box's kontorchef, er Sofie en kattemor til kontor englen Iris.">
                    </Card>
                    <Card
                        cardimage="../images/omos_04.png"
                        cardimagealt="Iris"
                        navn="Iris"
                        titel="Co-Chief Feline Officer"
                        tekst="Iris elsker at bruge sin dag på at spise plastik, sove hvor det passer hende og lege med alt andet end hendes legetøj.">
                    </Card>
                </div>

                    <div class="grid lg:grid-cols-[1fr_1fr] gap-d-3xl overflow-hidden lg:mx-d-3xl fotoinview">
                    <Card
                        cardimage="../images/omos_05.png"
                        cardimagealt="Bobo"
                        navn="Bobo"
                        titel="Co-Chief Feline Officer"
                        tekst="Bobo elsker opmærksomhed, og har du tyggegummi, snupper hun gerne pakken tehe.">
                    </Card>
                    <Card
                        cardimage="../images/omos_06.svg"
                        cardimagealt="Bingle McPawprint"
                        navn="Bingle McPawprint"
                        titel="Maskot"
                        tekst="Hej! Du har nok set mig lege rundt på hjemmesiden. Jeg er her bare hele tiden, så giv mig gerne et klap på maven hvis du har lyst.">
                    </Card>
                </div>

            </section>

            <section class="lg:mx-d-3xl mb-d-lg">
                <h2 class="font-bold mx-m-sm pb-d-sm">FAQ</h2>
                <div class="pb-d-sm lg:grid grid-cols-2">
                <Accordion
                    titel="Hvordan fungerer abonnementet?"
                    indhold="Vores abonnement er enkelt: Du vælger, hvad din kat har brug for, og vi leverer det direkte til din dør hver måned. Du kan altid tilpasse det til din kats behov."
                />
                <Accordion
                    titel="Hvilke produkter er inkluderet i abonnementet?"
                    indhold="Vores abonnement indeholder essentielle ting som tørfoder, vådfoder, kattegrus og andre praktiske produkter. Du kan selv vælge og tilpasse indholdet."
                />
                <Accordion
                    titel="Hvad sker der, hvis min kat ikke kan lide foderet?"
                    indhold="Vi forstår, at alle katte er forskellige. Kontakt os, så finder vi en løsning og tilbyder alternativer, der passer bedre til din kat."
                />
                <Accordion
                    titel="Hvilke områder leverer I til?"
                    indhold="Vi leverer i hele landet. Hvis du har særlige ønsker eller bor på en ø, så kontakt os – vi finder en løsning."
                />
                <Accordion
                    titel="Hvordan betaler jeg for abonnementet?"
                    indhold="Betalingen sker automatisk hver måned via det kort, du tilmelder. Du modtager en kvittering på mail efter hver betaling."
                />
                <Accordion
                    titel="Kan jeg ændre eller opsige mit abonnement?"
                    indhold="Ja, vores abonnement er helt fleksibelt! Du kan ændre abonnement, justere leveringsfrekvensen, eller opsige det når som helst – uden binding."
                />
                </div>

                
            </section>

            <div class="absolute bottom-0 -z-10 lg:invisible">
                    <Image class="h-full " src={yarn2} alt="Billede der viser en kat" loading="lazy"/>
                </div>
            <div class="flex justify-end overflow-hidden">
                 <Image class="h-full absolute top-0 -z-10 invisible lg:visible" src={yarn} alt="Billede der viser en kat" loading="lazy"/>
             </div>
       </div>

</MainLayout>

<style>
    .gradient {
	background: linear-gradient(-45deg, #f0f9ff, #fef2f5, #dff2ff, #fdfae9, #f0f9ff, #fef2f5, #dff2ff, #fdfae9);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>


	<script>
	/* Import af Motion One biblioteket */
	import { animate, stagger, inView, scroll, timeline } from "motion";

    	/* inView animation */
	inView( ".fotoinview" , () =>{
	animate( ".fotoinview", { x: [-2000, 0 ] }, { duration: 3 })
	})

     	/* inView animation */
	inView( ".fotoinview2" , () =>{
	animate( ".fotoinview2", { x: [2000, 0 ] }, { duration: 3 })
	})

    inView( ".entrance" , () =>{
    animate( ".entrance", { opacity: [ 0, 1] }, { duration: 1 })
    })

    /* Stagger animation */
	inView( "#stagger" , () =>{
		animate(
		".staggeranimation",
		{ opacity: [0, 1] },
		{ 
			delay: stagger(1, { start: 2 })
		}
		)
	})
    
	</script>