---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Card from "../components/CardOmOs.astro";
import Accordion from "../components/Accordion.astro";
import MyCustomImage from "../components/MyCustomImage.astro";
import { Image } from 'astro:assets';
import kat1 from "../assets/images/omos_foto.png";
import billede1 from "../assets/images/logo.svg";
import billede2 from "../assets/images/omos_verdi.svg";
import billede3 from "../assets/images/omos_verdi2.svg";
import yarn from "../assets/images/yarn4.svg";
import yarn2 from "../assets/images/yarn3.svg";
import mus from "../assets/images/omos_vidstedu.svg";
import lightbulb from "../assets/images/lightbulb2.svg";
import housegraph from "../assets/images/housegraph1.svg";
import paw from "../assets/images/omos_paw.svg";
import desktopImage from "../assets/images/omos_desktophero.png";
import mobileImage from "../assets/images/omos_mobilehero.png";
---
<MainLayout title="Purrfect Box">

    <div class="">
        <MyCustomImage
          mobileImgUrl={mobileImage}
          desktopImgUrl={desktopImage}
          alt="Billede af os med vores katte"
        />
      </div>

       <section class="mx-m-sm lg:mx-d-3xl mb-m-m lg:mb-d-m entrance">
            <h2 class="font-bold my-m-m lg:my-d-m">Om os</h2>
            <div class="grid lg:grid-cols-[1fr_1fr] gap-m-ml lg:gap-d-lg">
                <div class="">
                    <h3 class="font-bold pb-m-xs lg:pb-d-xs">Teamet</h3>
                    <p class="pb-m-xs lg:pb-d-xs">Purrfect Box er et glad og ydmygt katteabonnementsboksfirma, der finder bopæl i Danmark. Purrfect Box drives af rigtige mennesker, som virkelig elsker katte, og som bekymrer sig om deres kunder. </p>
                    <p>Vi brænder for at gøre hverdagen nemmere for katteejere og sikre, at din kat altid har adgang til de bedste produkter. Med en kombination af kvalitet, omtanke og kærlighed arbejder vi hver dag for at skabe en løsning, der både glæder katte og deres ejere.</p>
                </div>

                <div class="" id="stagger">
                    <h3 class="font-bold pb-m-xs lg:pb-d-xs">Purrfect Box</h3>
                    <p class="pb-m-xs lg:pb-d-xs">Vores mission er at dele vores passion med dig for at opdage sjove nye katteprodukter og tilføje berigelse til din killings legetid. Vi tror på, at katte fortjener det bedste – både når det kommer til kvalitet og sjov – og vi arbejder hårdt for at bringe nye, spændende produkter til dig og din kat.</p>
                    <p>Vi er lidt ligesom en Purrfect Box i sig selv: sød, unik og godt sat sammen. Med en kombination af kreativitet og omtanke stræber vi efter at gøre hver levering til en glædelig oplevelse for både dig og din kat.</p>
                </div>
            </div>
       </section>

       <section class="">
        <h3 class="font-bold mx-m-sm lg:mx-d-3xl mb-m-sm lg:mb-d-s">Vores værdier</h3>
        <div class="grid lg:grid-cols-3">
            <div class="bg-yellow-200 staggeranimation">
                <div class="flex flex-col items-center py-m-lg lg:py-d-lg px-m-m lg:px-d-m">
                <Image class="scale-125 pt-m-s lg:pt-d-s" src={billede1} alt="Billede der viser en mørk kat der kigger ud i en brun papkasse" loading="lazy"/>
                <h3 class="font-bold py-m-s lg:py-d-s">Vi tænker ud af boksen</h3>
                <p>
                    Vi værdsætter kreativitet, nytænkning, og skaber innovative løsninger ved altid at tænke uden for boksen.
                </p>
                </div>
            </div>
            <div class="bg-yellow-100 staggeranimation">
                <div class="flex flex-col items-center py-m-lg lg:py-d-lg px-m-m lg:px-d-m">
                <Image class="" src={billede2} alt="Billede af en kat der leger med garn" loading="lazy"/>
                <h3 class="font-bold py-m-s lg:py-d-s text-center">Vi leger med mulighederne</h3>
                <p>
                Vi omfavner mulighederne med nysgerrighed og leg, hvor vi eksperimenterer for at finde de bedste løsninger.
                </p>
                </div>
            </div>
            <div class="bg-yellow-50 staggeranimation">
                <div class="flex flex-col items-center py-m-lg lg:py-d-lg px-m-m lg:px-d-m">
                <Image class="" src={billede3} alt="Billede af en kat med benet oppe" loading="lazy"/>
                <h3 class="font-bold py-m-s lg:py-d-s">Vi holder af de små fyre</h3>
                <p>
                    Vi elsker alle slags katte - store, små, unge og gamle. Hver eneste kat har sin egen charme, der minder os om glæden ved det særlige i hverdagen.
                </p>
                </div>
            </div>
        </div>
       </section>

       <div class="gradient relative -z-20 pb-d-lg">
            <section class="mx-m-sm lg:mb-d-lg lg:mx-d-3xl pt-m-lg lg:pt-d-lg overflow-hidden">
                <h2 class="font-bold mb-m-s lg:mb-d-s">Mød teamet</h2>

                <div class="grid lg:grid-cols-[1fr_1fr_1fr] gap-m-m lg:gap-d-m  overflow-hidden mb-m-lg lg:mb-d-lg lg:mx-d-3xl fotoinview">
                <Card
                        cardimage="../images/omos_01.png"
                        cardimagealt="Billede af Miv"
                        navn="Miv Berg"
                        titel="Co-Founder & Chief Executive Officer"
                        tekst="Bortset fra at fungere som Purrfect Box's kontorchef, er Miv en kattemor til kontorulykken Bobo.">
                    </Card>
                <Card
                        cardimage="../images/omos_02.png"
                        cardimagealt="Billede af Laura"
                        navn="Laura Nielsen"
                        titel="Co-Founder & Chief Technology Officer"
                        tekst="Laura elsker krimidokumentarer, mad, bøger og at rejse. Hun er desværre uden kat, så hun må nøjes med hendes bamser..">
                    </Card>
                    <Card
                        cardimage="../images/omos_03.png"
                        cardimagealt="Billede af Sofie"
                        navn="Sofie Andersson"
                        titel="Co-Founder & Chief Content Manager"
                        tekst="Bortset fra at fungere som Purrfect Box's kontorchef, er Sofie en kattemor til kontor englen Iris.">
                    </Card>
                </div>

                    <div class="grid lg:grid-cols-[1fr_1fr_1fr] gap-m-m lg:gap-d-m overflow-hidden lg:mx-d-3xl fotoinview2">
                    <Card
                        cardimage="../images/omos_04.png"
                        cardimagealt="Billede af Iris"
                        navn="Iris"
                        titel="Co-Chief Feline Officer"
                        tekst="Iris elsker at bruge sin dag på at spise plastik, sove hvor det passer hende og lege med alt andet end hendes legetøj.">
                    </Card>
                     <Card
                        cardimage="../images/omos_05.png"
                        cardimagealt="Billede af Bobo"
                        navn="Bobo"
                        titel="Co-Chief Feline Officer"
                        tekst="Bobo elsker opmærksomhed, og har du tyggegummi, snupper hun gerne pakken tehe.">
                    </Card>
                    <Card
                        cardimage="../images/omos_06.svg"
                        cardimagealt="Billede af Bingle McPawprint"
                        navn="Bingle McPawprint"
                        titel="Maskot"
                        tekst="Hej! Du har nok set mig lege rundt på hjemmesiden. Jeg er her bare hele tiden, så giv mig gerne et klap på maven hvis du har lyst.">
                    </Card>
                </div>

            </section>

            <section class="">
                <h2 class="mx-m-sm mb-m-s pt-m-lg lg:pt-0 lg:mb-d-s lg:mx-d-3xl">Historien om Purrfect Box</h2>
                <div class="overflow-hidden fotoinview">
                <article class="bg-blue-200 p-m-sm lg:p-d-sm mx-m-sm lg:mx-80 rounded-default">
                    <div class="flex justify-center pb-m-xs lg:pb-d-xs">
                    <Image class="" src={lightbulb} alt="Billede der viser et lys" loading="lazy"/>
                    </div>
                    <h3 class="pb-m-s lg:pb-d-s text-center">Ideen bag Purrfect Box</h3>
                    <div class="grid lg:grid-cols-2 lg:gap-d-sm">
                        <div class="">
                        <p class="pb-m-xs lg:pb-d-xs">Hvordan kom vi på ideen til det mest praktiske abonnement for katteejere der gerne vil have en nem hverdag.</p>
                        <p>Vi er selv katteejere og det skete desværre for ofte at vi pludselig stod med en næsten tom pose kattemad eller vi skulle slæbe flere tons kattegrus op til femte sal.</p>
                        </div>
                        <div class="">
                            <p class="pb-m-xs lg:pb-d-xs">Her tænkte vi, at der måtte være et bedre alternativ til dette. Vi ledte på internettet efter et abonnement der kunne gøre vores hverdag nemmere.</p>
                            <p>Desværre fandtes dette ikke i Danmark og det var hvordan vi så blev inspireret til denne fantastiske løsning til travle eller glemsomme katteejere i Danmark.</p>
                        </div>
                    </div>
                </article>

                <article class="grid lg:grid-cols-[1fr_1fr] lg:gap-d-xs mx-m-sm lg:mx-80 lg:m-d-m">
                    <div class="bg-blue-200 rounded-default p-m-sm lg:p-d-sm mt-m-s lg:pt-0">
                        <h3 class="pb-m-s lg:pt-d-sm lg:pb-d-s">Vidste du...?</h3>
                        <p>At næringsindholdet af et kattemåltid (af våd- eller tørfoder) svarer til 5 mus.</p>
                        <div class="flex justify-center">
                        <Image class="" src={mus} alt="Billede der viser en graf over mus" loading="lazy"/>
                        </div>
                    </div>
                    <div class="bg-blue-200 rounded-default p-m-sm lg:p-d-sm mt-m-s lg:pt-0">
                        <h3 class="pb-m-xs lg:pt-d-sm lg:pb-d-xs">Katte i Danmark</h3>
                        <p class="pb-m-xs lg:pb-d-xs">Ifølge Danmarks Statistik og Det Danske Katteregister holder omtrent 367.000 familier katte rundt om i Danmark, hvilket svarer til 16 pct. af de danske familier.</p>
                        <div class="flex justify-center">
                        <Image class="w-5/12" src={housegraph} alt="Billede der viser husbefolkning med katte" loading="lazy"/>
                        </div>
                    </div>
                </article>

                <article class="bg-blue-200 p-m-sm lg:p-d-sm mx-m-sm lg:mx-80 rounded-default mt-m-s lg:pt-0">
                    <div class="flex justify-center pb-m-xs lg:pb-d-xs lg:pt-d-sm">
                    <Image class="" src={paw} alt="Billede der viser en kattepote" loading="lazy"/>
                    </div>
                    <h3 class="pb-m-s lg:pb-d-s text-center">Hvor er vi i dag?</h3>
                    <div class="grid lg:grid-cols-2 gap-d-sm">
                        <div class="">
                        <p class="pb-m-xs lg:pb-d-xs">I dag er Purrfect Box mere end bare en idé - vi er blevet en pålidelig partner for katteejere i hele Danmark.</p>
                        <p>Vi har hjulpet hundredevis af katteejere med at få en nemmere hverdag ved at levere kvalitetsprodukter direkte til døren, og vi ser frem til at forbedre løsningerne yderligere.</p>
                        </div>
                        <div class="">
                            <p class="pb-m-xs lg:pb-d-xs">Vi ser frem til at vokse endnu mere, udvide vores sortiment og fortsat tilbyde produkter, der gør en forskel for både kattene og deres ejere.</p>
                            <p>Vores passion for katte og deres velvære driver os til at fortsætte med at udvikle nye, kreative løsninger for at gøre hverdagen endnu bedre.</p>
                        </div>
                    </div>
                </article>
                </div>
            </section>

            <section class="lg:mx-d-3xl mb-d-lg z-50">
                <h2 class="font-bold mx-m-sm pb-d-s pt-m-lg lg:pt-d-lg">FAQ</h2>
                <div class="pb-d-sm lg:grid grid-cols-2">
                <Accordion
                    titel="Hvordan fungerer abonnementet?"
                    indhold="Vores abonnement er enkelt: Du vælger, hvad din kat har brug for, og vi leverer det direkte til din dør hver måned. Du kan altid tilpasse det til din kats behov."
                />
                <Accordion
                    titel="Hvilke produkter er inkluderet i abonnementet?"
                    indhold="Vores abonnement indeholder essentielle ting som tørfoder, vådfoder, kattegrus og andre praktiske produkter. Du kan selv vælge og tilpasse indholdet."
                />
                <Accordion
                    titel="Hvad sker der, hvis min kat ikke kan lide foderet?"
                    indhold="Vi forstår, at alle katte er forskellige. Kontakt os, så finder vi en løsning og tilbyder alternativer, der passer bedre til din kat."
                />
                <Accordion
                    titel="Hvilke områder leverer I til?"
                    indhold="Vi leverer i hele landet. Hvis du har særlige ønsker eller bor på en ø, så kontakt os – vi finder en løsning."
                />
                <Accordion
                    titel="Hvordan betaler jeg for abonnementet?"
                    indhold="Betalingen sker automatisk hver måned via det kort, du tilmelder. Du modtager en kvittering på mail efter hver betaling."
                />
                <Accordion
                    titel="Kan jeg ændre eller opsige mit abonnement?"
                    indhold="Ja, vores abonnement er helt fleksibelt! Du kan ændre abonnement, justere leveringsfrekvensen, eller opsige det når som helst – uden binding."
                />
                </div>

                
            </section>

            <div class="absolute bottom-0 -z-10 lg:invisible">
                    <Image class="h-full " src={yarn2} alt="Billede der viser en kat" loading="lazy"/>
                </div>
            <div class="flex justify-center overflow-hidden">
                 <Image class="h-full absolute top-0 -z-10 invisible lg:visible" src={yarn} alt="Billede der viser en kat" loading="lazy"/>
             </div>
       </div>

</MainLayout>

<style>
    .gradient {
	background: linear-gradient(-45deg, #f0f9ff, #fef2f5, #dff2ff, #fdfae9, #f0f9ff, #fef2f5, #dff2ff, #fdfae9);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>


	<script>
	/* Import af Motion One biblioteket */
	import { animate, stagger, inView, scroll, timeline } from "motion";

    	/* inView animation */
	inView( ".fotoinview" , () =>{
	animate( ".fotoinview", { x: [-2000, 0 ] }, { duration: 3 })
	})

     	/* inView animation */
	inView( ".fotoinview2" , () =>{
	animate( ".fotoinview2", { x: [2000, 0 ] }, { duration: 3 })
	})

    inView( ".entrance" , () =>{
    animate( ".entrance", { opacity: [ 0, 1] }, { duration: 1 })
    })

        /* Stagger animation */
    inView("#stagger", () => {
        animate(
        ".staggeranimation",
        { opacity: [0, 1] },
        {
            delay: stagger(0.3, { start: 0.5 }), // Reduceret forsinkelse mellem elementer og starttidspunkt
        }
        );
    });
    
	</script>