---
import MainLayout from "../layouts/MainLayout.astro";
import MyCustomImage from "../components/MyCustomImage.astro";
import Button from "../components/Button.astro";
import CardForside from "../components/CardForside.astro";
import HowTo from "../components/HowTo.astro";
import TrustpilotCard from "../components/TrustpilotCard.astro";
import Accordion from "../components/Accordion.astro";
import { Image } from "astro:assets";
import desktopImage from "../assets/images/fh.jpg";
import mobileImage from "../assets/images/mobil_img.png";
import displaybox from "../assets/images/promo2.jpg";
import pote from "../assets/images/paw.svg";
import royal from "../assets/images/brand_royal.svg";
import hills1 from "../assets/images/brand_hills.svg";
import cosma from "../assets/images/brand_cosma.svg";
import purina from "../assets/images/brand_purina.svg";
import feringa from "../assets/images/brand_feringa.svg";
import hills2 from "../assets/images/brand_hills2.svg";
import concept from "../assets/images/brand_concept.svg";
import kat1 from "../assets/images/forside_kat.svg";
import kat2 from "../assets/images/forside_kat2.svg";
import kat3 from "../assets/images/forside_kat3.svg";
import trustpilot from "../assets/images/trustpilot.svg";
import omos from "../assets/images/omos_desktophero.png";
---

<MainLayout title="Purrfect Box">
  <section>
    <div class="">
      <div class="w-full">
        <MyCustomImage
          mobileImgUrl={mobileImage}
          desktopImgUrl={desktopImage}
          alt="Billede af en orange kat med PurrBox"
        />
      </div>
      <h1
        class="font-bold flex absolute items-center justify-center inset-0 bottom-96 lg:bottom-60"
      >
        Purrfect Box
      </h1>
      <div
        class="absolute inset-0 bottom-60 flex items-center justify-center lg:bottom-20"
      >
        <span class="hidden md:block">
          <a href="/productlist">
            <Button variant="primary" size="desktop"
              ><input type="submit" value="Bestil PurrBox abonnement" /></Button
            ></a
          >
        </span>
        <span class="md:hidden flex"
          ><a href="/productlist">
            <Button variant="primary" size="mobile"
              ><input type="submit" value="Bestil PurrBox abonnement" /></Button
            ></a
          >
        </span>
      </div>
    </div>
  </section>
  <section class="mx-m-sm lg:mx-d-5xl entrance">
    <h2 class="font-bold leading-10 mt-d-lg">
      Alt din kat har brug for - leveret direkte til døren
    </h2>
    <div class="lg:grid grid-cols-2 lg:items-center">
      <div class="lg:pr-d-ml">
        <h3 class="font-bold py-d-s">Hvorfor PurrBox?</h3>
        <p id="stagger" class="pb-d-s">
          Vores abonnement til katteejere gør det nemt at tage sig af din kat.
          Hver måned får du de vigtigste produkter som tørfoder, vådfoder,
          kattegrus og andre uundværlige ting. Spar tid, undgå besværet, og
          forkæl din kat med alt, den elsker – uden at løfte en pote!
        </p>
        <div class="pb-d-xxs lg:pb-d-xs flex flex-row gap-1">
          <Image class="" src={pote} alt="Brun kattepote" loading="lazy" />
          <p>
            <span class="font-bold">Leveret til døren</span> – Ingen tunge løft.
          </p>
        </div>
        <div class="pb-d-xs flex flex-row gap-1">
          <Image class="" src={pote} alt="Brun kattepote" />
          <p>
            <span class="font-bold">Altid på lager</span> – Slut med at løbe tør
            for nødvendigheder.
          </p>
        </div>
        <div class="pb-d-xs flex flex-row gap-1">
          <Image class="" src={pote} alt="Brun kattepote" loading="lazy" />
          <p>
            <span class="font-bold">Fleksibelt</span> – Juster, pause, stop når som
            helst.
          </p>
        </div>
        <div class="pb-d-xs flex flex-row gap-1">
          <Image class="" src={pote} alt="Brun kattepote" loading="lazy" />
          <p>
            <span class="font-bold">Tilpasset din kat</span> – Produkter din kat
            elsker.
          </p>
        </div>
        <div class="pb-d-xs flex flex-row gap-1">
          <Image class="" src={pote} alt="Brun kattepote" loading="lazy" />
          <p>
            <span class="font-bold">Høj kvalitet</span> – Kun det bedste for din
            kat.
          </p>
        </div>
      </div>
      <div class="">
        <Image
          class="w-3/5"
          src={displaybox}
          alt="Billede der viser en promovering af PurrBox på en grå baggrund"
          loading="lazy"
        />
      </div>
    </div>
  </section>
  <section>
    <div class="relative mt-d-lg">
      <div class="relative">
        <!-- SVG der trigges ved klik -->
        <Image
          id="klik_mig"
          src={kat1}
          alt="Blue Bingle"
          loading="lazy"
          class="animate-pulse w-20 md:w-40 absolute -top-24 lg:-top-52 right-10 cursor-pointer active:scale-105 md:hover:scale-105 transition-all duration-300"
        />

        <!-- Skjult hjerte der flyver op ved klik -->
        <svg
          id="heart-icon"
          xmlns="http://www.w3.org/2000/svg"
          class="hidden absolute -top-36 md:-top-52 w-12 h-12 text-pink-500 left-[125px] md:left-[1350px] transform -translate-x-[125px] md:-translate-x-[500px]"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
          ></path>
        </svg>
      </div>

      <div
        class="rullende_brands bg-yellow-200 relative w-full h-auto overflow-hidden z-30 py-d-xs"
      >
        <div
          class="brands flex items-center gap-[55px] w-[calc(200%)] h-auto animate-scroll"
        >
          <Image
            class="w-[120px] mr-m-lg"
            src={royal}
            alt="Brand logo af Royal Canin for katte"
            loading="lazy"
          />
          <Image
            class="w-[70px] mr-m-lg"
            src={hills1}
            alt="Brand logo af Hills for katte"
            loading="lazy"
          />
          <Image
            class="w-[70px] mr-m-lg"
            src={cosma}
            alt="Brand logo af Cosma for katte"
            loading="lazy"
          />
          <Image
            class="w-[120px] mr-m-lg"
            src={purina}
            alt="Brand logo af Purina for katte"
            loading="lazy"
          />
          <Image
            class="w-[90px] mr-m-lg"
            src={feringa}
            alt="Brand logo af Feringa for katte"
            loading="lazy"
          />
          <Image
            class="w-[100px] mr-m-lg"
            src={hills2}
            alt="Brand logo af Hills Prescription Diet for katte"
            loading="lazy"
          />
          <Image
            class="w-[90px] mr-m-lg"
            src={concept}
            alt="Brand logo af Concept For Life for katte"
            loading="lazy"
          />
          <Image
            class="w-[120px] mr-m-lg"
            src={royal}
            alt="Brand logo af Royal Canin for katte"
            loading="lazy"
          />
          <Image
            class="w-[70px] mr-m-lg"
            src={hills1}
            alt="Brand logo af Hills for katte"
            loading="lazy"
          />
          <Image
            class="w-[70px] mr-m-lg"
            src={cosma}
            alt="Brand logo af Cosma for katte"
            loading="lazy"
          />
          <Image
            class="w-[120px] mr-m-lg"
            src={purina}
            alt="Brand logo af Purina for katte"
            loading="lazy"
          />
          <Image
            class="w-[90px] mr-m-lg"
            src={feringa}
            alt="Brand logo af Feringa for katte"
            loading="lazy"
          />
          <Image
            class="w-[100px] mr-m-lg"
            src={hills2}
            alt="Brand logo af Hills Prescription Diet for katte"
            loading="lazy"
          />
          <Image
            class="w-[90px] mr-m-lg"
            src={concept}
            alt="Brand logo af Concept For Life for katte"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="mx-m-sm mt-d-lg lg:mx-d-ml">
    <h2 class="font-bold leading-10 pb-d-s">
      Hvilken Purr Box skal din kat have?
    </h2>
    <div
      class="animate__animated animate__backInLeft flex items-center flex-col lg:flex-row flex-wrap lg:justify-center gap-d-s"
    >
      <CardForside
        cardimage="../img/basicbox2.jpg"
        cardimagealt="Et billede af vores Basic Box med beige baggrund"
        navn="Basic Box"
        pris="119 DKK/MD"
        punkt1="5 produkter i denne boks"
        punkt2="Vælg dine egne brands"
        punkt3="Opsig når som helst"
      />
      <CardForside
        cardimage="../img/deluxe2.jpg"
        cardimagealt="Et billede af vores Basic Box med beige baggrund"
        navn="Premium Box"
        pris="149 DKK/MD"
        punkt1="7 produkter i denne boks"
        punkt2="Vælg dine egne brands"
        punkt3="Opsig når som helst"
      />
      <CardForside
        cardimage="../img/premium2.jpg"
        cardimagealt="Et billede af vores Basic Box med beige baggrund"
        navn="Deluxe Box"
        pris="199 DKK/MD"
        punkt1="9 produkter i denne boks"
        punkt2="Vælg dine egne brands"
        punkt3="Opsig når som helst"
      />
      <CardForside
        cardimage="../img/custom2.jpg"
        cardimagealt="Et billede af vores Basic Box med beige baggrund"
        navn="Custom Box"
        pris="299 DKK/MD"
        punkt1="Vælg op til 14 produkter"
        punkt2="Vælg dine egne brands"
        punkt3="Opsig når som helst"
      />
    </div>
  </section>
  <section id="processen" class="mt-d-lg">
    <h2 class="font-bold text-center pb-d-s">Hvordan fungerer Purrfect Box?</h2>
    <div>
      <HowTo />
    </div>
  </section>
  <section class="mx-m-sm mt-d-lg lg:mx-d-5xl">
    <div class="lg:grid grid-cols-2">
      <div class="lg:pr-d-lg">
        <h2 class="font-bold leading-10">Hvem står bag Purrfect Box?</h2>
        <h3 class="font-bold py-d-s">Af katteejere, for katteejere</h3>
        <p class="pb-d-s">
          Vi er passionerede katteejere, der forstår de små og store
          udfordringer i hverdagen. Vores mission er at gøre livet lettere for
          både dig og din kat ved at tilbyde en enkel, bekvem og pålidelig
          løsning. Med fokus på kvalitet og kærlighed til katte er vi her for at
          sikre, at din kat altid har det bedste.
        </p>
        <div class="pb-d-s flex flex-row gap-1">
          <span class="hidden md:block"
            ><Button variant="primary" size="desktop"
              ><input type="submit" value="Læs mere" /></Button
            ></span
          >
          <span class="md:hidden flex"
            ><Button variant="primary" size="mobile"
              ><input type="submit" value="Læs mere" /></Button
            ></span
          >
        </div>
      </div>
      <div>
        <div class="relative">
          <!-- SVG der trigges ved klik -->
          <Image
            id="icon"
            src={kat2}
            alt="Lyserød kat der ligger ned og stirrer"
            loading="lazy"
            class="animate-pulse -top-8 lg:-top-12 right-0 absolute w-20 md:w-40 md:-top-14 cursor-pointer active:scale-105 md:hover:scale-105 transition-all duration-300"
          />

          <!-- Skjult hjerte der flyver op ved klik -->
          <svg
            id="fly-icon"
            xmlns="http://www.w3.org/2000/svg"
            class="hidden absolute -top-14 md:-top-14 w-12 h-12 text-yellow-500 left-[125px] md:left-[490px] transform -translate-x-[125px] md:-translate-x-[500px]"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            ></path>
          </svg>
        </div>

        <div>
          <div class="">
            <Image
              class="rounded-default"
              src={omos}
              alt="Billede der viser indehaverne af Purrfect Box"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mx-m-sm mt-d-lg lg:mx-d-5xl">
    <h2 class="font-bold pb-d-m">Hvad siger vores brugere?</h2>
    <div class="bg-blue-200 rounded-default flex flex-col items-center">
      <Image
        class="rounded-default py-d-sm w-64"
        src={trustpilot}
        alt="TrustPilot logo med grøn stjerne og under står der 4.8 med 5 stjerner"
        loading="lazy"
      />
    </div>
    <div
      class="grid md:grid-cols-[1fr_1fr] lg:grid-cols-[1fr_1fr_1fr_1fr] pt-d-s justify-items-center
	   trustpilotcards overflow-hidden gap-d-s"
    >
      <TrustpilotCard
        navn="William D. Birch"
        dato="20. jun. 2024"
        titel="Fantastisk løsning for travle katteejere!"
        review="Jeg elsker dette abonnement! Jeg skal aldrig mere bekymre mig om at løbe tør for foder eller kattegrus."
      />

      <TrustpilotCard
        navn="Dicte Jørgensen"
        dato="26. jun. 2024"
        titel="Gør hverdagen så meget nemmere"
        review="Jeg var skeptisk i starten, men abonnementet har virkelig gjort livet lettere. At få alt leveret til døren sparer mig tid og besvær."
      />

      <TrustpilotCard
        navn="Kamilla Hansen"
        dato="28. jun. 2024"
        titel="God service!"
        review="Alt fungerer fint, og leveringen er superhurtig. Dog ville jeg ønske, at der var flere mærker at vælge imellem, især til tørfoder. Jeg håber det bliver muligt"
      />

      <TrustpilotCard
        navn="Signe Christensen"
        dato="04. juli. 2024"
        titel="Min kat elsker det!"
        review="Jeg kan tydeligt mærke, at min kat Felix er mere tilfreds med det foder, vi får nu. Kattegruset er også langt bedre end det, jeg plejede at købe."
      />
    </div>
  </section>
  <section id="faq" class="mt-d-lg">
    <div class="bg-[url('../img/forside_nyhedsbrev.svg')] pt-d-sm pb-d-s">
      <h2 class="font-bold text-center mx-m-sm leading-10 lg:mx-0">
        Ik' mis de særlige tilbud og nyheder
      </h2>
      <form
        action="/subscribe"
        method="post"
        data-netlify="true"
        class="flex flex-col items-center pt-d-s"
      >
        <div class="flex gap-m-xs md:gap-d-xxs md:w-fit">
          <label for="email" class="pb-m-xs"></label>
          <input
            id="email"
            name="email"
            placeholder="Email-adresse"
            type="email"
            autocomplete="email"
            required
            class="block w-full md:w-[267px] rounded-knapper shadow-drop10 bg-blue-50 border text-blue-800 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 placeholder-blue-800"
          />

          <span class="hidden md:block"
            ><Button variant="primary" size="desktop"
              ><input type="submit" value="Send" /></Button
            ></span
          >
          <span class="md:hidden flex"
            ><Button variant="primary" size="mobile"
              ><input type="submit" value="Send" /></Button
            ></span
          >
        </div>
      </form>
    </div>
  </section>
  <section class="mx-m-sm mt-d-lg lg:mx-d-5xl">
    <h2 class="font-bold pb-d-s">FAQ</h2>
    <div class="pb-d-lg lg:grid grid-cols-2">
      <Accordion
        titel="Hvordan fungerer abonnementet?"
        indhold="Vores abonnement er enkelt: Du vælger, hvad din kat har brug for, og vi leverer det direkte til din dør hver måned. Du kan altid tilpasse det til din kats behov."
      />
      <Accordion
        titel="Hvilke produkter er inkluderet i abonnementet?"
        indhold="Vores abonnement indeholder essentielle ting som tørfoder, vådfoder, kattegrus og andre praktiske produkter. Du kan selv vælge og tilpasse indholdet."
      />
      <Accordion
        titel="Hvad sker der, hvis min kat ikke kan lide foderet?"
        indhold="Vi forstår, at alle katte er forskellige. Kontakt os, så finder vi en løsning og tilbyder alternativer, der passer bedre til din kat."
      />
      <Accordion
        titel="Hvilke områder leverer I til?"
        indhold="Vi leverer i hele landet. Hvis du har særlige ønsker eller bor på en ø, så kontakt os – vi finder en løsning."
      />
      <Accordion
        titel="Hvordan betaler jeg for abonnementet?"
        indhold="Betalingen sker automatisk hver måned via det kort, du tilmelder. Du modtager en kvittering på mail efter hver betaling."
      />
      <Accordion
        titel="Kan jeg ændre eller opsige mit abonnement?"
        indhold="Ja, vores abonnement er helt fleksibelt! Du kan ændre abonnement, justere leveringsfrekvensen, eller opsige det når som helst – uden binding."
      />
    </div>
    <div class="relative">
      <Image
        id="klik_mig"
        src={kat3}
        alt="Lyserød kat der ligger ned og stirrer"
        loading="lazy"
        class="w-40 bottom-0 -left-6 -z-50 absolute lg:-left-20"
      />
    </div>
  </section>
  <section></section>
  <style>
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .brands {
      display: flex;
      width: max-content; /* Tilpasser bredden til indholdet */
    }

    .animate-scroll {
      animation: scroll 20s linear infinite;
    }

    @media only screen and (max-width: 768px) {
      .trustpilotcards {
        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;
        padding-left: 36px;
        padding-right: 36px;
        gap: 20px;
        scroll-padding: 10px;
        /* Hides scrollbar */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
      }

      .trustpilotcards::-webkit-scrollbar {
        display: none; /* Chrome, Safari, and Opera */
      }
      .trustpilotcards .card {
        flex: 0 0 100%;
        scroll-snap-align: start;
        scroll-snap-stop: always;
      }

      /* Hvis af en eller anden årsag, at scrollbar ikke hides, så justeres farven på scrollbar*/
      .trustpilotcards {
        scrollbar-color: #214f5f transparent;
      }
    }
  </style>
</MainLayout>

<script>
  // Funktion for klik-event på både ikon og eget svg-fil
  const handleClick = (iconId, heartId) => {
    const icon = document.getElementById(iconId);
    const heart = document.getElementById(heartId);

    icon.addEventListener("click", () => {
      heart.classList.remove("hidden");
      heart.classList.add("fly-up-animation");

      // Timeout til at nulstille efter animationen
      setTimeout(() => {
        heart.classList.remove("fly-up-animation");
        heart.classList.add("hidden");
      }, 1000); // Samme varighed som animationen
    });
  };

  // Kald funktionen for begge elementer
  handleClick("klik_mig", "heart-icon");
  handleClick("icon", "fly-icon");

  import { animate, stagger, inView, scroll, timeline } from "motion";

  inView(".entrance", () => {
    animate(".entrance", { opacity: [0, 1] }, { duration: 1 });
  });

  /* Stagger animation */
  inView("#stagger", () => {
    animate(
      ".staggeranimation",
      { opacity: [0, 1] },
      {
        delay: stagger(0.3, { start: 0.5 }), // Reduceret forsinkelse mellem elementer og starttidspunkt
      }
    );
  });
</script>
