---
import { Image } from 'astro:assets';
import cot from "../assets/images/produkter_kat.svg";
import banner from "../assets/images/bannermfp.svg";
import basic from "../assets/images/basicbox2.jpg";
import premium from "../assets/images/premium2.jpg";
import deluxe from "../assets/images/deluxe2.jpg";
import custom from "../assets/images/custom2.jpg";
import cq from "../assets/images/produkter_kat2.svg";
import cqs from "../assets/images/produkter_kat2spg.svg";

import desktopImage from "../assets/images/produkter_header.svg";
import mobileImage from "../assets/images/produkter_header_mobil.svg";
import MyCustomImage from "../components/MyCustomImage.astro";

import MainLayout from "../layouts/MainLayout.astro";
import CardProduct from "../components/CardProduct.astro";
import Button from '../components/Button.astro';
---

<MainLayout title="Purrfect Boxes">
        <section>
            <div class="relative">
                <MyCustomImage
                    mobileImgUrl={mobileImage}
                    desktopImgUrl={desktopImage}
                    alt="Hero billede med en Blå Bingle i højre hjørne, i baggrunden er katte hovede ikonet gentaget som et mønster."
                />
                <div class="absolute animate__animated animate__bounceInDown inset-0 md:flex md:flex-col md:justify-center md:items-center md:w-[1068px] px-m-sm md:px-d-3xl py-m-lg md:py-d-lg">
                    <div class="text-left">
                        <h1 class="pb-m-m md:pb-d-m">Purrfect Boxes</h1>
                        <h2 class="pb-m-sm md:pb-d-sm">Overblik over vores PurrBoxes</h2>
                        <p class="w-[353px] md:w-[615px] h-auto">Tag et kig og find den rette boks til dig og din kat. Vi har sammen med vores fællesskab tilpasset disse bokse,
                        så der er noget til enhver smag. Undersøg mere om hver enkelt boks, eller bestil din egen nu i dag!</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="px-m-sm md:px-d-3xl md:py-d-lg py-m-lg">
        <div class="flex flex-col md:flex-row md:justify-center md:items-end gap-m-s md:gap-d-s pb-m-s md:pb-d-s">
            <div class="bg-blue-200 pb-m-m md:pb-d-m rounded-default">
                 <div class="relative">
                        <!-- SVG der trigges ved klik -->
                        <Image id="klik_mig" src={cot} alt="Pink Bingle" loading="eager" class="wobble-hor-bottom opacity-100 w-40 md:w-1/2 absolute -top-24 md:-top-32 cursor-pointer active:scale-105 md:hover:scale-105 transition-all duration-300"></Image>

                        <!-- Skjult hjerte der flyver op ved klik -->
                        <svg id="heart-icon" xmlns="http://www.w3.org/2000/svg" class="hidden absolute -top-36  md:-top-36 w-12 h-12 text-pink-500 left-[125px] md:left-[200px] transform -translate-x-[125px] md:-translate-x-[200px]" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                    </div>
                <Image src={basic} alt="Et billede af vores Basic Box med beige baggrund" loading="eager" class="rounded-t-default"></Image>
                    <div class="px-d-ml">
                        <h4 class="py-d-xs">Basic Box</h4>
                        <h3 class="pb-d-s text-blue-800">119 DKK/MD</h3>
                        <p class="pb-d-xs">En enkel løsning med alle de nødvendige produkter til din kat hver måned.</p>
                        <ul class="pb-d-xs pl-d-xs list-disc">
                            <li>5 produkter i denne boks</li>
                            <li>Vælg dine egne brands</li>
                            <li>Opsig når som helst</li>
                        </ul>
                    <div class="flex flex-row justify-center gap-d-xxs">
                        <a href="/formular">
                            <span class="hidden md:block"
                            ><Button variant="primary" size="desktop"
                                ><input type="submit" value="Køb nu" /></Button
                            ></span
                            >
                        </a>
                        <a href="/formular">
                            <span class="md:hidden flex"
                            ><Button variant="primary" size="mobile"
                                ><input type="submit" value="Køb nu" /></Button
                            ></span
                            >
                        </a>
                            <a href="/singleview">
                            <span class="hidden md:block"
                            ><Button variant="secondary" size="desktop"
                                ><input type="submit" value="Se mere" /></Button
                            ></span
                            >
                        </a>
                        <a href="/singleview">
                            <span class="md:hidden flex"
                            ><Button variant="secondary" size="mobile"
                                ><input type="submit" value="Se mere" /></Button
                            ></span
                            >
                        </a>
                        </div>
                    </div>
            </div>

            <div class="bg-blue-200 pb-d-m rounded-default">
                <Image src={premium} alt="Et billede af vores Premium Box med orange baggrund" loading="eager" class="rounded-t-default"></Image>
                    <div class="px-d-ml">
                        <h4 class="py-d-xs">Premium Box</h4>
                        <h3 class="pb-d-s text-blue-800">149 DKK/MD</h3>
                        <p class="pb-d-xs">Designet til at holde din kat tilfreds hele måneden. Giv din kat en ekstra forkælelse med nøje udvalgte produkter, der sikrer både underholdning og mæthed.</p>
                        <ul class="pb-d-xs pl-d-xs list-disc">
                            <li>7 produkter i denne boks</li>
                            <li>Vælg dine egne brands</li>
                            <li>Opsig når som helst</li>
                        </ul>
                    <div class="flex flex-row justify-center gap-d-xxs">
                        <a href="/formular">
                            <span class="hidden md:block"
                            ><Button variant="primary" size="desktop"
                                ><input type="submit" value="Køb nu" /></Button
                            ></span
                            >
                        </a>
                        <a href="/formular">
                            <span class="md:hidden flex"
                            ><Button variant="primary" size="mobile"
                                ><input type="submit" value="Køb nu" /></Button
                            ></span
                            >
                        </a>
                            <a href="/singleview">
                            <span class="hidden md:block"
                            ><Button variant="secondary" size="desktop"
                                ><input type="submit" value="Se mere" /></Button
                            ></span
                            >
                        </a>
                        <a href="/singleview">
                            <span class="md:hidden flex"
                            ><Button variant="secondary" size="mobile"
                                ><input type="submit" value="Se mere" /></Button
                            ></span
                            >
                        </a>
                        </div>
                    </div>
            </div>

            <span class="relative">
                 <Image src={banner} alt="Mest for pengene banner" loading="eager" class="absolute top-0 rounded-default right-0"></Image>
            <div class="bg-blue-200 pb-d-m rounded-default">
                <Image src={deluxe} alt="Et billede af vores Deluxe Box med pink baggrund" loading="eager" class="rounded-t-default"></Image>
                    <div class="px-d-ml">
                        <h4 class="py-d-xs">Deluxe Box</h4>
                        <h3 class="pb-d-s text-blue-800">199 DKK/MD</h3>
                        <p class="pb-d-xs">Med sjovt legetøj, kvalitetsfoder og snacks sikrer denne boks, at din kat bliver både mæt og underholdt.
                            Perfekt til at give din kat noget ekstra at glæde sig over – og samtidig få mest for pengene.</p>
                        <ul class="pb-d-xs pl-d-xs list-disc">
                            <li>9 produkter i denne boks</li>
                            <li>Vælg dine egne brands</li>
                            <li>Opsig når som helst</li>
                        </ul>
                    <div class="flex flex-row justify-center gap-d-xxs">
                        <a href="/formular">
                            <span class="hidden md:block"
                            ><Button variant="primary" size="desktop"
                                ><input type="submit" value="Køb nu" /></Button
                            ></span
                            >
                        </a>
                        <a href="/formular">
                            <span class="md:hidden flex"
                            ><Button variant="primary" size="mobile"
                                ><input type="submit" value="Køb nu" /></Button
                            ></span
                            >
                        </a>
                            <a href="/singleview">
                            <span class="hidden md:block"
                            ><Button variant="secondary" size="desktop"
                                ><input type="submit" value="Se mere" /></Button
                            ></span
                            >
                        </a>
                        <a href="/singleview">
                            <span class="md:hidden flex"
                            ><Button variant="secondary" size="mobile"
                                ><input type="submit" value="Se mere" /></Button
                            ></span
                            >
                        </a>
                        </div>
                    </div>
            </div>
        </span>
        </div>

        <CardProduct
                    cardimage="../img/custom2.jpg"
                    cardimagealt="Et billede af vores Custom Box med gul baggrund"
                    titel="Vil du lave din egen Purr Box?"
                    navn="Custom Box"
                    pris="299 DKK/MD"
                    beskrivelse="Denne Purr Box kan indeholde, hvad du og din kat begærer ud fra vores sortiment. Du kan vælge dine egne brands og op til 14 produkter!"
                    class="md:h-[635px]"
                >
        </CardProduct>
        </section>
       

        <section class="relative px-m-sm pb-m-ml md:pb-d-ml md:px-d-3xl">
            <article class="bg-yellow-200 rounded-default md:grid md:grid-cols-2 md:place-items-center">
                <div class="px-m-ml md:px-d-ml py-m-sm flex flex-col items-center justify-center">
                    <h3 class="pb-m-s md:pb-d-s text-center md:leading-10">Hvilken abonnements-plan er dit perfekte match?</h3>
                    <p class="md:w-[400px] pb-m-sm">Ved du ikke hvilket abonnement du skal vælge? <br class="hidden md:block"> Vi har udviklet en quiz, der skal hjælpe dig på vej til finde den perfekte Purr Box til dig og din kat.</p>
                    <h3 class="pb-m-s md:pb-d-s">Tag vores quiz nu!</h3>

                    <div class="pt-m-sm md:pt-d-sm flex justify-center md:justify-start gap-m-sm md:gap-d-sm">
                    <span class="md:hidden">
                        <a href="#">
                        <Button variant="primary" size="mobile">Start her</Button>
                        </a>
                    </span>
                    <span class="hidden md:block">
                        <a href="#">
                        <Button variant="primary" size="desktop">Start her</Button>
                        </a>
                    </span>
                    </div>
                </div>

                <div>
                     <div class="grid grid-cols-2 grid-rows-2">
                        <Image src={basic} alt="Basic Box" loading="lazy"></Image>
                        <Image src={premium} alt="Premium Box" loading="lazy" class="md:rounded-tr-default"></Image>
                        <Image src={deluxe} alt="Deluxe Box" loading="lazy" class="rounded-bl-default md:rounded-none"></Image>
                        <Image src={custom} alt="Custom Box" loading="lazy" class="rounded-br-default"></Image>
                    </div>
                </div>
            </article>

            <div class="absolute bottom-0 right-6">
                <Image id="fly-icon" src={cqs} alt="Spørgsmålstegn ikon" loading="lazy" class="hidden absolute -top-14 right-[40px] transform -translate-x-[10px] fly-up-animation"></Image>
                <Image id="icon" src={cq} alt="Blue Bingle" loading="lazy" class="wobble-hor-bottom opacity-100 w-24 md:w-40 cursor-pointer active:scale-105 md:hover:scale-105 transition-all duration-300"></Image>
            </div>
        </section>
</MainLayout>

<script>
  // Denne funktion håndterer klik på et ikon og viser et hjerte ved klik
  function setupClickEvent(iconId, heartId) {
    // Få fat i ikonet og hjertet med deres id'er
    const icon = document.getElementById(iconId);
    const heart = document.getElementById(heartId);

    // Når man klikker på ikonet, sker denne kode
    icon.addEventListener('click', function() {
      // Vis hjertet ved at fjerne 'hidden' og tilføje flyve-animation
      heart.classList.remove('hidden');
      heart.classList.add('fly-up-animation');

      // Efter 1 sekund (1000ms) skjuler vi hjertet igen
      setTimeout(function() {
        heart.classList.remove('fly-up-animation');
        heart.classList.add('hidden');
      }, 1000); // 1000ms er samme varighed som animationen
    });
  }

  // Kald funktionen for hvert par af ikon og hjerte
  setupClickEvent('klik_mig', 'heart-icon');
  setupClickEvent('icon', 'fly-icon');
</script>

