---
import Button from "../components/Button.astro";

const {
  cardimage = "",
  cardimagealt = "",

  navn = "",
  pris = "",
  punkt1 = "",
  punkt2 = "",
  punkt3 = "",
} = Astro.props;
---

<article class="bg-blue-200 max-w-[329px] min-w-[329px] pb-d-m rounded-default">
  <div class="">
    <img src={cardimage} alt={cardimagealt} class="rounded-t-default" />
    <div class="px-d-ml">
      <h4 class="font-bold py-d-xxs">{navn}</h4>
      <h3 class="font-bold pb-d-xxs text-blue-800">{pris}</h3>
      <ul class="pb-d-xs pl-d-xs list-disc">
        <li>{punkt1}</li>
        <li>{punkt2}</li>
        <li>{punkt3}</li>
      </ul>
      <div class="flex flex-row gap-d-xxs">
        <span class="hidden md:block"
          ><Button variant="primary" size="desktop"
            ><input type="submit" value="Køb nu" /></Button
          ></span
        >
        <span class="md:hidden flex"
          ><Button variant="primary" size="mobile"
            ><input type="submit" value="Køb nu" /></Button
          ></span
        >
        <span class="hidden md:block"
          ><Button variant="secondary" size="desktop"
            ><input type="submit" value="Se mere" /></Button
          ></span
        >
        <span class="md:hidden flex"
          ><Button variant="secondary" size="mobile"
            ><input type="submit" value="Se mere" /></Button
          ></span
        >
      </div>
    </div>
  </div>
</article>
