---
import { Image } from 'astro:assets';
import trustpilot from "../assets/images/trustpilot.svg";
import logo from "../assets/images/logo.svg";
import ig from "../assets/images/ig.svg";
import linkedin from "../assets/images/in.svg";
import pin from "../assets/images/pin.svg";
import yt from "../assets/images/yt.svg";
import twitter from "../assets/images/twitter.svg";
import fb from "../assets/images/fb.svg";

import Button from './Button.astro';
---
<div class="px-m-sm py-m-ml text-blue-950">
    <div>
        <h1 class="font-bold pb-m-sm">Purrfect Box</h1>

        <ul class="pb-m-s">
            <li>Processen</li>
            <li>FAQ</li>
            <li>Om os</li>
            <li>Purr Boxes</li>
        </ul>
    </div>

    <div class="pb-m-ml">
        <h1 class="font-bold pb-m-sm">10% fra din første ordre</h1>

        <div>
        <p class="pb-m-xs">Tilmeld dig og få luskede forhåndsvisninger, hints og særlige rabatter!</p>

        <form action="/subscribe" method="post" data-netlify="true" class="pb-m-m">
            <div class="flex gap-m-xs">
                <label for="email" class="pb-m-xs"></label>
                <input id="email" name="email" placeholder="Email-adresse" type="email" autocomplete="email" required
                class="block w-full rounded-default shadow-drop10 bg-blue-50 border text-blue-800 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 placeholder-blue-800">

                <Button><input type="submit" value="Send"></Button>
            </div>
        </form>
        
        <Image src={trustpilot} alt="Trustpilot" loading="lazy" class="w-60 active:-rotate-12 active:scale-105 transition-all duration-300"></Image>
        </div>
    </div>

    <div>
        <h1 class="font-bold pb-m-sm">Følg os</h1>

        <div class="flex gap-m-s pb-m-s">
            <Image src={ig} alt="Instagram" loading="lazy" class="active:-rotate-12 active:scale-105 transition-all duration-300"></Image>
            <Image src={linkedin} alt="LinkedIn" loading="lazy" class="active:-rotate-12 active:scale-105 transition-all duration-300"></Image>
            <Image src={pin} alt="Pinterest" loading="lazy" class="active:-rotate-12 active:scale-105 transition-all duration-300"></Image>
            <Image src={yt} alt="Youtube" loading="lazy" class="active:-rotate-12 active:scale-105 transition-all duration-300"></Image>
            <Image src={twitter} alt="Twitter" loading="lazy" class="active:-rotate-12 active:scale-105 transition-all duration-300"></Image>
            <Image src={fb} alt="Facebook" loading="lazy" class="active:-rotate-12 active:scale-105 transition-all duration-300"></Image>
        </div>

        <a href="/"><Image src={logo} alt="Purrfect Box's Logo" loading="lazy"
        class="w-1/4 active:-rotate-12 active:scale-105 transition-all duration-300 pb-m-sm"></Image></a>
       
        <div class="pb-m-m">
            <p class="pb-m-xxs">Møllevej 47, Frederiksberg 3540</p>
            <p class="text-yellow-600 pb-m-xxs">kundeservice@purrfect.dk</p>
            <p class="text-yellow-600 pb-m-xxs">+(45) 75-82-16-00</p>
            <p class="pb-m-xxs">CVR-nr. 27 58 26 18</p>
        </div>

        <div>
            <p class="pb-m-s text-center">©2024 Purrfect Box ApS.<br>
                All Rights Reserved.</p>
            
            <div class="flex gap-m-s justify-center">
                <p>Vilkår og betingelser</p>
                <p>Privatlivspolitik</p>
            </div>
        </div>
    </div>
</div>
  